[%- IF benchmark && debug -%]
Total page evaluation took [% benchmark %]<br>
[%- END -%]
</div> <!-- end inner -->

<div id="footer">

[% IF langs && langs.size > 0 %]
<hr class="hidecss">
<!--UdmComment-->
<div id="pageLang">
<div id="langSelector">
<p>[% g('This page is also available in the following languages (How to set <a href="%s">the default document language</a>):', cn_help_url) %]</p>
<div id="langContainer">
[% FOREACH l IN langs %]
<a href="[% IF keyword_esc;
		make_search_url('',"keywords=$keyword_esc",'lang',l.lang);
	    ELSE;
		make_url(page_name,"",'lang',l.lang);
	    END %]" title="[% l.tooltip %]" hreflang="[% l.lang %]" lang="[% l.lang %]" rel="alternate">[% l.selfname %]
[%- IF l.transliteration %] ([% l.transliteration %])[% END %]</a>
[% END %]
</div>
</div>
</div>
<!--/UdmComment-->
[% END %]

<hr class="hidecss">
<div id="fineprint" class="bordertop">
<div id="impressum">
[% IF contact.verbose %]
<p>[% g('To report a problem with the web site, e-mail <a href="mailto:%s">%s</a>. For other contact information, see the %s <a href="%s">contact page</a>.',
	contact.mail, contact.mail, organisation, contact.url) %]</p>
[% ELSE %]
<p>[% g('See our <a href="%s">contact page</a> to get in touch.', contact.url) %]</p>
[% END %]
[% UNLESS footer.doNotDisplayCopyright %]
<p>
[%	g('Content Copyright &copy; %s <a href="%s">%s</a>; See <a href="%s">license terms</a>.',
		copyright.years, copyright.url, copyright.name, license.url);
	' ' _ trademarknotes IF trademarknotes %]
 <a href="/about/">[% g('Learn more about this site') %]</a>.</p>
[% END %]
</div> <!-- end impressum -->
[% IF sponsors.size %]
<div id="sponsorfooter"><p>
[% USE Math; random = Math.int(Math.rand(sponsors.size));
  g('This service is sponsored by <a href="%s">%s</a>.', sponsors.${random}.url, sponsors.${random}.name) -%]
</p></div>
[% END %]
</div> <!-- end fineprint -->
</div> <!-- end footer -->
</body>
</html>
